@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-create{
    background: linear-gradient(30deg,#304D30,#88AB8E );
    border-radius: 15px;
    color: #fff !important;
    transition: .1s;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: 1000px;
    background: linear-gradient(100deg,#ff914d,#007aff);
}

.navbar{
    background: linear-gradient(100deg,#ff914d,#007aff);
    transition: 1s;
}
.navbar-nav .nav-item{
    margin-right: 10px;
}
.navbar .nav-link{
    color: #fff;
    position: relative;
}
.navbar-nav #link::after{
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    transition: .7s;
}
.navbar-nav #link:hover::after{
    border-bottom: 3px solid #ff914d;
    width: 100%;
}


.nav-link .button{
    background: linear-gradient(90deg,#ffde59,#ff914d);
    padding: 10px 30px;
    border-radius: 50px;
    opacity: .8;
    transition: .5s;
}
.nav-link .button:hover{
    opacity: 1;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.header{
    background-image: url(/static/images/header-cargo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    z-index: 10;
}
.bi-arrow-down, .content{
    color: #fff !important;
}

.bi-arrow-down{
    position: absolute;
    bottom: 30px;
}
.content p {
    font-size: 20px;
}

.roadMap h2{
    color: #ffde59;
}
.roadMapContent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.roadMapNumber{
    height: 90px;
    width: 90px;
    /* background-color: #ffde59; */
    border-radius: 50%;
    border: 10px solid #ff914d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin:  0px 20px;
    position: relative;
}
.roadMapStickRow1{
    height: 3px;
    width: 520px;
    /* background-color: #ff914d; */
    background: linear-gradient(90deg,#8c52ff,#ff914d);
    position: absolute;
    left: 75px;
    top: 90px;
    transform: rotate(9deg);
}
.roadMapStickRow2{
    height: 3px;
    width: 520px;
    /* background-color: #ff914d; */
    background: linear-gradient(90deg,#ff914d,#8c52ff);
    position: absolute;
    right: 75px;
    top: 90px;
    transform: rotate(-10deg);
}
.modal-dialog{
    max-width: 100% !important;
}