<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <header class="header">
        <div class="content">
            <h1 class="mb-5 text-center">Yük ve Taşıma Çözümlerini Tek Noktada Bul!</h1>
            <p style="width: 80%;">Hoş geldiniz! <span style="color: #ffde59;">Taşı<span style="color: #ff914d;">Taşıt</span> </span> , yük taşımanın güvenli ve etkili bir yolunu sunan inovatif bir platformdur. İhtiyacınıza uygun taşıma çözümleri için yük sahiplerini ve taşımacılık hizmeti sunanları bir araya getiriyoruz. Siz de işinizi kolaylaştırın, TaşıTaşıt ile yüklerinizi güvenle taşıyın veya taşıtın!</p>
        </div>
        <i class="bi bi-arrow-down animate__animated animate__fadeOutDown animate__infinite animate__slow" style="font-size: 2rem;"></i>
    </header>
    
      <div class="roadMap">
        <div class="container">
          <h2 class="text-center mt-5">Nasıl Kullanırım?</h2>
          <!-- <div class="row">
            <div class="col-md-6">
              <div class="roadMapContent">
                <div class="roadMapDesc">
                  <span>Kayıt Ol</span>
                </div>
                <div class="roadMapNumber">
                  1
                  <div class="roadMapStick"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div> -->
          <div class="row">
            <div class="col-md-6">
              <div class="roadMapContent">
                <div class="roadMapDesc">
                  <span>Kayıt Ol</span>
                </div>
                <div class="roadMapNumber">
                  1
                  <div class="roadMapStickRow1"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
    
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <div class="roadMapContent">
                <div class="roadMapNumber">
                  2
                  <div class="roadMapStickRow2"></div>
                </div>
                <div class="roadMapDesc">
                  <span>Giriş Yap</span>
                </div>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-6">
              <div class="roadMapContent">
                <div class="roadMapDesc">
                  <span>Yük Ara</span>
                </div>
                <div class="roadMapNumber">
                  3
                  <div class="roadMapStickRow1"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
    
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <div class="roadMapContent">
                <div class="roadMapNumber">
                  4
                  <div class="roadMapStick"></div>
                </div>
                <div class="roadMapDesc">
                  <span>Yük Taşı</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    <%- include('../partials/script') %>
</body>
</html>