<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div class="main">
        <div class="content">
            <div class="content-header mb-5">
                <!-- <h1 class="mb-5 text-center">500 - Sunucu Hatası</h1> -->
            </div>

            <div class="content-desc">
                <p style="width: 80%;">
                    Üzgünüz, ancak bu rotada bir engel var gibi gözüküyor. Belki de yükümüzü doğru bir şekilde yönlendiremedik.
                    Durum hakkında daha fazla bilgi almak veya başka bir güzergaha yönlendirilmek için <a href="/">ana sayfa</a>ya dön veya <a href="mailto:adressforapp@outlook.com">destek ekibimiz</a>e ulaş.
                </p>
            </div>
        </div>
    </div>
</body>
</html>