<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/static/css/error-500.css">

</head>
<body>
    <div class="main">
        <div class="content">
            <div class="content-header mb-5">
                <h1 class="mb-5 text-center">500 - Sunucu Hatası</h1>
            </div>

            <div class="content-desc">
                <p style="width: 80%;">
                    Üzgünüz, ancak sunucumuz şu an bir sorun yaşıyor gibi gözüküyor. Belki de yükü biraz fazla aldık.
                    Durumu düzeltmek için çalışıyoruz. Lütfen birkaç dakika sonra tekrar deneyin. Ana sayfaya dönmek için <a href="/">buraya tıklayabilirsiniz.</a> Bizimle iletişime geçmek istiyorsanız <a href="mailto:adressforapp@outlook.com">buraya tıklayarak</a> bize ulaşabilirsiniz.
                </p>
            </div>
        </div>
    </div>
</body>
</html>